@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{font-family: "Work Sans", sans-serif;
                    font-optical-sizing: auto;
                    font-weight:400;
                    font-style: normal;}
/* shared styles */
.display-flex{
                    display: flex;
                }
                
                .text-primary{
                    color: #FF900E;
                }
                
                /* dark 02 */
                .text-gray{
                    color: #424242;
                }
                
                /* dark03 */
                .text-light-gray{
                    color: #727272;
                }
                
                .bg-light{
                    background-color: rgba(255, 144, 14, 0.1);
                }
                
                .btn-primary{
                    background-color: #FF900E;
                    color: white;
                    padding: 20px 25px;
                    font-size: 1.25rem;
                    font-weight: 600;
                    border-radius: 8px;
                    border: none;
                }
                    .navbar{
                                        justify-content: space-between;
                                        align-items: center;
                                    }
                                    
                                    .brand{
                                        font-weight: 700;
                                        font-size: 3rem;
                                    }
                                    .nav-item{
                                        list-style: none;
                                        margin-right: 30px;
                                    }
                                    
                                    .nav-link{
                                        text-decoration: none;
                                        font-weight: 500;
                                    }
                                    
                                    .navbar, .banner{
                                        max-width: 1440px;
                                        margin: 0 auto;
                                    }
                                    
                                    /* banner related styles */
                                    .banner-content{
                                        max-width: 850px;
                                        margin: 0 auto;
                                        text-align: center;
                                        margin-bottom: 50px;
                                    }
                                    
                                    .banner-title{
                                        font-weight: 700;
                                        font-size: 4rem;
                                    }
                                    
                                    .banner-image{
                                        width: 100%;
                                    }
.first-section-container{display: flex;}
.first-section-container-img{display: grid; grid-template-columns: repeat(2,1fr); gap: 24px; margin-top: 120px; border-radius: 8px;}
main{max-width: 1440px; margin: 0 auto;}

.first-section-content{display: flex; flex-direction: column; justify-content: center; margin-left: 70px;}
.first-section-content h3{font-family: Work Sans;
                    font-size: 45px;
                    font-weight: 700;}
.first-section-content p{color: rgb(114, 114, 114);
                    font-family: Work Sans;
                    font-size: 16px;
                    font-weight: 400;}

.third-section-container h3{color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700}
.third-section-container p{color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400; max-width: 542px; margin-top: 20px;}
.third-section-box{display: grid; grid-template-columns: repeat(4,1fr); margin-top: 100px; text-align: center;}
.fact-icon{width: 45.22px;
    height: 45.22px;}
.fact-number{color: rgb(66, 66, 66);
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 600; margin-top: 7px; margin-bottom: 7px;}
.fact-name{color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 20px;}
    .fact-card{max-width: 241.83px;
        height: 200px;
        border: 1px solid rgb(255, 144, 14);
        border-radius: 8px; padding: 45px 35px 60px 35px; border-radius: 8px;
        }
        .forth-section-content{display: flex; flex-direction: column; justify-content: center; align-items: center;}
.forth-section-content h3{color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700; text-align: center;}
    
    .forth-section-content p{max-width: 540px; color: rgb(114, 114, 114);
        font-family: Work Sans;
        font-size: 16px;
        font-weight: 400; text-align: center;}  
        .forth-section-img{filter: grayscale(100%);
        display: grid; grid-template-columns: repeat(5,1fr);
    gap: 17px;} 

@media screen and (max-width:576px) {
                    .first-section-container{flex-direction: column;}
                    .navbar{flex-direction: column;}
                    .first-section-container-img{display:grid; grid-template-columns: repeat(1,1fr); margin-left: 75px;}
                    .third-section-box{display: grid; grid-template-columns: repeat(2,1fr); gap: 10px;}
                    .forth-section-img{grid-template-columns: repeat(2,1fr);}


                    
}